{% extends 'base.html' %}

{% block content %}
  <body>
    <main>
      <div>
        <h1>Create a new list</h1>
        <form method="post">
          Name:
          <input type="text" name="name">
        </input>
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
      </form>
    </div>
  </main>
</body>
{% endblock content %}
