{% extends 'base.html' %}

{% block content %}
  <main>
    <div>
      <h1>{{ todo_list_detail.name }}</h1>
      <p>
        <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
      </p>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in todo_list_detail.items.all %}
            <tr>
              <td>{{ item.task }}</td>
              <td>{{ item.due_date|date:"M d, Y" }}</td>
            </tr>
          {% endfor %}
        {% endblock content %}
