{% extends 'base.html' %}

{% block content %}
  <main>
    <div>
      <h1>My Lists</h1>
      <p>
        <a href="{% url 'todo_list_create' %}">Create a new list</a>
      </p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of items</th>
          </tr>
        </thead>
        <tbody>
          {% for lists in todo_list_list %}
            <tr>
              <td>
                <a href="{% url 'todo_list_detail' lists.id %}">{{ lists.name }}</a>
              </td>
              <td>{{ lists.items.all|length }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
